<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features</title>
    <title>Admin cabinet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Open Source Project</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/features">Features</a>
        <a class="p-2 text-dark" href="/source">Source</a>
        <a class="p-2 text-dark" href="/support">Support</a>
    </nav>
</div>

<div class="container">
    <h1 class="display-4">CRYPTO CONVERTER. Features</h1>
</div>

<div class="container">
    <p class="lead">This app uses the Kraken exchange API to get information about cryptocurrency pair quotes and also to get the history of quotes.</p>
    <p class="lead">For convenience, information about the quotes of the two most popular currencies Bitcoin and Etherium is displayed on the main page.</p>
    <p class="lead">Information about the quote is taken at the beginning of the day. You are asked to select the currency pair you are interested in, enter the desired amount to convert one to another, and click the button 'Convert' to get the result.</p>
    <p class="lead">Based on the information received via the API, you can see the quote at the beginning of the day, as well as the conversion result and the chart with the latest exchange rate changes. You can also see the last requested calculation.</p>
    <p class="lead">There is a hidden admin account available at the link /admin. There you can see the number of completed requests and the results of the last 20 requests. You can clear the repository using an HTTP request.</p>
    <p class="lead">The app has its own API at the link /api/new that works on a POST request. In the request body, pass a JSON object containing the name of the pair and the amount to be exchanged:</p>
    <p class="lead"><i>{
        "pairNameDTO" : "ADAETH : from ADA to ETH",
        "quantityDTO" : "100"
        }</i></p>
    <p class="lead">As a result, we will get a JSON object containing the name of the pair, the date and time of the request, the names of the source and destination currency, the amount to be converted, the exchange rate, and the total cost, like this:</p>
    <p class="lead"><i>{
        "id": "ADAETH",
        "date": "2020-11-16 14:56:58",
        "price": "0.000223200",
        "quantity": "100",
        "sourceCurrency": "ADA",
        "requiredCurrency": "ETH",
        "amount": "0.02232"
        }</i></p>
    <p class="lead">Work is underway to add new features to the app.</p>
</div>


</body>
</html>