<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Option Exchange</title>
</head>
<body>

<h2>Select Option Exchange</h2>

    <table>
        <tr>
            <td>Select Pairs:</td>
            <td>
                <select id="selected" name="selected">
<!--                <select th:field="*{allPairs}">-->
                    <option value=""> -- </option>
                    <option th:each="eachPair : ${allPairs}"
                            th:value="${eachPair}"
                            th:text="${eachPair}"/>
                </select>

            </td>
        </tr>
    </table>

<tr>
    Enter quantity<input id="quantityVal" type="text"/>
</tr>

    <button id="send_snippet" type="submit" onclick="send()">Submit</button>



<script type="text/javascript">
    function send() {
        let object = {
            "pairNameDTO": document.getElementById("selected").value,
            "quantityDTO": document.getElementById("quantityVal").value
        };

        let json = JSON.stringify(object);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/api/new', false)
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);

        if (xhr.status === 200) {
            alert("Data received and processed!");
        }
    }
</script>

</body>

</html>