<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>

<pre>
    <code>
        Conversion requested for a pair <span id="somePair" th:text="${somePair.pairName}"></span>
        <span id="somePrice" th:text="${somePair.pairPrice}"></span> last quote
        <span th:text="${somePair.quantity}"></span> quantity <span th:text="${somePair.getSourceCurrency()}"></span> to exchange
        <span th:text="${somePair.amount}"></span> total <span th:text="${somePair.getRequiredCurrency()}"></span> amount
    </code>
</pre>

</body>
</html>